@page "/editcharacter"

@inject MagusTtkContext TtkContext
@inject IDataInitializer<MagusTtkContext> DataInitializer

<h1>Karakter szerkesztő</h1>

<div class="row">
    <div class="col-xl-4">
        <h2>Tulajdonságok</h2>
        <TtkCharacterAbilities ttkCharacter=@ttkCharacter freePointsToDistribute=15 />
    </div>
    <div class="col-xl-4">
        <h2>Faj / Kaszt / ...</h2>
    </div>
    <div class="col-xl-4">
        <h2>Elosztható pontok</h2>
    </div>
</div>

@code {
    private MagusTtkCharacter ttkCharacter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        System.Console.WriteLine($"{this.GetType().Name}.OnInitializedAsync()");

        await DataInitializer.InitializeData(TtkContext);

        ttkCharacter = new MagusTtkCharacter();
        ttkCharacter.Race = await TtkContext.RaceDefinitions.GetByCode("Elf");
        ttkCharacter.Class = await TtkContext.CharacterClassDefinitions.GetByCode("Tolvaj");
        foreach (var kvp in ttkCharacter.Class.Abilities)
        {
            var def = await TtkContext.AbilityDefinitions.GetByCode(kvp.Key);
            ttkCharacter.Abilities.Add(kvp.Key, new AbilityValue() { Definition = def, Value = kvp.Value });
        }
    }
}
